
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #e6eeff;
    padding: 20px;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 150px;
    margin-left: 10px;
}

.heading {
    text-align: center;
    width: 100%;
    margin: 0;
    color: #2a2a2a;
}

#task-input-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#new-task {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-right: 10px;
    color:#2a2a2a
}

#add-task-btn {
    width: 25%;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #43a047;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    background-color: #ffffff;
    color: #2a2a2a;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s;
}

#task-list li span {
    font-weight: bold;
}

#task-list li button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#task-list li button:hover {
    background-color: #d32f2f;
}

#task-list li:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}